a{
    color: #CE2D4F;
}
.success{
   border-radius: 25% 75% 45% 55% / 60% 31% 69% 40% ; 
   padding: 10px;
   color: #212529;
   border-color: #CE2D4F;
}
.btn-danger{
    border-radius: 35% 65% 61% 39% / 24% 62% 38% 76%  ; 
    padding: 10px;
 }
 .primary{
    border-radius:34% 66% 26% 74% / 57% 20% 80% 43%   ; 
    padding: 10px;
    border-color: #212529;
    color: #CE2D4F;
 }
 .dropdown-item:focus, .dropdown-item:hover {
  color: #1e2125;
  background-color: #212529;
}
  .fa-2x:hover {
    color: #CE2D4F !important;
    background-color: none;
}
.form-control{
   border-color: #CE2D4F!important;
}

.dedcription-btn {
   width: 100%;
   position: relative;
   display: inline-block;
   border-radius: 30px;
   background-color: #212529;
   color: #ffffff;
   text-align: center;
   font-size: 18px;
   padding: 9px 0;
   transition: all 0.3s;
   padding-right: 40px;
   margin: 20px 5px;
   box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
   text-decoration: none;
 }
 .dedcription-btn .btn-icon {
   background-color: #CE2D4F;
   width: 92px;
   height: 45px;
   float: right;
   position: absolute;
   border-radius: 30px 30px 30px 0;;
   right: 0px;
   top: 0px;
   transition: all 0.3s;
 }
 .name-descripeion {
   position: relative;
   z-index: 2;
 }
 .btn-icon::after {
   content: "";
   width: 0;
   height: 0;
   border-top: 45px solid #212529;
   border-right: 40px solid transparent;
   position: absolute;
   top: 0px;
   left: 0px;
 }
 .dedcription-btn:hover .btn-icon {
   width: 100%;
   border-radius: 30px;
 }
 .dedcription-btn:hover .btn-icon::after {
   display: none;
   opacity: 0.1;
 }
 .btn-icon i {
   position: absolute;
   right: 25px;
   top: 15px;
   color: #ffffff;
 }
 .dedcription-btn:hover {
   color: #212529!important;
 }