{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}
{% block body %}

    <div class="container-fluid fondVendeur">
	</div>
	<div class="container-fluid carte">
		<div class="row">

			{% for restaurant in restaurants %}
				<div class="col-xl-4 col-lg-4 col-12 col-md-6 mb-5">
					<img src="" alt="vendeur" class="card-img-top imgVendeur">
					<div class="card cartesVendeurs">
					
						<div class="card-body">
							
							<h5 class="card-title">{{restaurant.nom}}</h5>
							<p class="card-text">{{restaurant.adresse}}</p>
							<a class="dedcription-btn" href="{{ path('restaurant_show', {'id' : restaurant.id})}}">
							<span class="name-descripeion"><i class="far fa-eye"></i></span>
						  </a>
						</div> 
					</div>
				</div>
				

			{% endfor %}
		</div>
	</div>


{% endblock %}

