{% extends 'base.html.twig' %}

{% block title %}Choisir la quantité{% endblock %}

{% block body %}
    <h1>Choisissez la quantité</h1>
        <div class="card-body">
            <h5 class="card-title">sss</span></h5>
            <p class="card-text">{{ include('commande_products/_form.html.twig') }}</p>
        </div>
    

{% endblock %}
